{{ define "content" }}
<section>
    <div class="container py-5 position-abolute ">
        <div class="card" style="position: relative; align-content: flex-center; width: 18rem;">
            <div class="card-body">
                <h5 class="card-text">Name: {{ .User.Name.First }} {{ .User.Name.Last }}</h5>
                <h5 class="card-text">Role: {{ .Role }} </h5>
                <h5 class="card-text">Date: {{ .Date }} </h5>
            </div>
        </div>
        <div class="row position-absolute top-0 end-0">
            <div class="col-lg-6">
                <button type="button" class="btn btn-lrg me-1 mt-4 btn-info position: relative" data-bs-toggle="modal" data-bs-target="#UserSettings"
                        style="background-color: white; color: #4581ef;">
                    User Settings
                </button>
            </button>
            </div>
            <div class="col">
                <button type="button" class="btn me-4 mt-4 btn-info position: relative logout-btn"
                        style="background-color:white; color:#4581ef;">
                    <a href="/logout" style="text-decoration: none;">Logout</a>
                </button>
            </div>
        </div>
        <div class="vstack gap-2 d-flex align-items-center position-absolute top-0 start-50 translate-middle-x">
            <div class="card mt-4 position: relative">
                <div class="card-body">
                <h2 class="card-title">Session Scheduler</h2>
                </div>
            </div>
            <button type="button" class="mt-2 btn btn-info position-aboslute top-0 end-0" data-bs-toggle="modal" data-bs-target="#createSessionModal">
                Create Session
            </button>
        </div>
        {{ template "session-content" .User }}
    </div>
</div>

<div class="modal" id="UserSettings">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
    
          <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">User Settings</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
          <!-- Modal body -->
            <div class="modal-body">
                <div class="vstack">
                    <button type="button" class="btn btn-primary mb-2" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#ChangePassword">
                        Change Password
                    </button> 
                    <button type="button" class="btn btn-primary mb-2" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#ChangeEmail">
                        Change Email
                    </button>  
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
            </div>

          
        </div>
    </div>
</div>
<div class="modal fade" id="ChangePassword">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
    
          <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
          <!-- Modal body -->
            <div class="modal-body">
                <form action="/changepassword" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="form-floating mb-2">
                        <input type="password" name="newpassword" class="form-control" value="">
                        <label for="floatingInput">New Password</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="password" name="newpasswordconfirmed" class="form-control" value="">
                        <label for="floatingInput">Confirm New Password</label>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-success" data-bs-dismiss="modal">
                            Submit
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ChangeEmail">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
    
          <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Change Email</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
          <!-- Modal body -->
            <div class="modal-body">
                <h6>Current Email Address:&emsp;{{ .User.Email }}</h6>
                <form action="/changeemail" method="post" enctype="application/x-www-form-urlencoded">
                <div class="form-floating mb-2">
                    <input type="text" name="newpassword" class="form-control" value="">
                    <label for="floatingInput">New Email</label>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success" data-bs-dismiss="modal">
                        Submit
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
                </form>
            </div>

          
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="createSessionModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Create Session</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <form action="/createsession" method="post" enctype="application/x-www-form-urlencoded">
                <div class="form-floating mb-2">
                    <input type="text" name="title" class="form-control" value="Nurse Practice Session">
                    <label for="floatingInput">Title</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" name="date" class="form-control" value="4/23/2028">
                    <label for="floatingInput">Date</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" name="starttime" class="form-control" value="11:00AM">
                    <label for="floatingInput">Start Time</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" name="endtime" class="form-control" value="2:00PM">
                    <label for="floatingInput">End Time</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" name="location" class="form-control" value="Bethlehem">
                    <label for="floatingInput">Location</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" name="patientsneeded" class="form-control" value="3">
                    <label for="floatingInput">SPs Needed</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" name="description" class="form-control" value="Nurse Orientation">
                    <label for="floatingInput">Description</label>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success" data-bs-dismiss="modal">Create</button>
                </div>
            </form>
        </div>
  
      </div>
    </div>
  </div>

{{ end }}
