{{ define "content" }}
<section style="background-color: #5d64f5;">
    <div class="container py-5 position-abolute ">
        <div class="card" style="position: relative; align-content: flex-center; width: 18rem;">
            <div class="card-body">
                <h5 class="card-text">Name: {{ .User.Name.First }} {{ .User.Name.Last }}</h5>
                <h5 class="card-text">Role: {{ .Role }} </h5>
                <h5 class="card-text">Date: {{ .Date }} </h5>
            </div>
        </div>
        <div class="row position-absolute top-0 end-0">
            <div class="col-lg-6">
                <button type="button" class="btn btn-lrg me-1 mt-4 btn-info position: relative"
                        style="background-color: white; color: #4581ef;">
                    <a href="/settings" style="text-decoration: none;">User Settings</a>
                </button>
            </button>
            </div>
            <div class="col">
                <button type="button" class="btn me-4 mt-4 btn-info position: relative logout-btn"
                        style="background-color:white; color:#4581ef;">
                    <a href="/logout" style="text-decoration: none;">Logout</a>
                </button>
            </div>
        </div>
        <div class="vstack gap-2 d-flex align-items-center position-absolute top-0 start-50 translate-middle-x">
            <div class="card mt-4 position: relative">
                <div class="card-body">
                <h2 class="card-title">Session Scheduler</h2>
                </div>
            </div>
            <button type="button" class="mt-2 btn btn-info position-aboslute top-0 end-0" data-bs-toggle="modal" data-bs-target="#myModal">
                Create Session
            </button>
        </div>
        {{ template "session-content" .User }}
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Create Session</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <form action="/createsession" method="post" enctype="application/x-www-form-urlencoded">
                <div class="form-floating mb-2">
                    <input type="text" name="title" class="form-control" placeholder="UserID">
                    <label for="floatingInput">Title - Nurse Practice Session</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" name="date" class="form-control" placeholder="UserID">
                    <label for="floatingInput">Date - 11/25/2025 (MM/DD/YYYY)</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" name="starttime" class="form-control" placeholder="UserID">
                    <label for="floatingInput">Start Time - 11:00AM</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" name="endtime" class="form-control" placeholder="UserID">
                    <label for="floatingInput">End Time - 2:00PM</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" name="location" class="form-control" placeholder="UserID">
                    <label for="floatingInput">Location - 1110 St. Lukes Way (Address)</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" name="patientsneeded" class="form-control" placeholder="UserID">
                    <label for="floatingInput">SPs Needed - 3 (Number)</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" name="description" class="form-control" placeholder="UserID">
                    <label for="floatingInput">Description - Nurse Orientation</label>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success" data-bs-dismiss="modal">Create</button>
                </div>
            </form>
        </div>
  
      </div>
    </div>
  </div>

{{ end }}
