{{ define "content" }}
<section style="background-color: #5776dc;">
    <div class="container py-5">
        <div class="card" style="position: relative; align-content: flex-center; width: 14rem;">
            <div class="card-body">
                <h5 class="card-text">Name: {{ .Name.First }} {{ .Name.Last }}</h5>
                <h5 class="card-text">Date: 10/17/2022</h5>
            </div>
        </div>
        <div class="card mt-4 position-absolute top-0 start-50 translate-middle-x">
            <div class="card-body">
            <h2 class="card-title">Sessions Available</h2>
            </div>
        </div>
        {{ template "session-content" . }}
    </div>
</div>

{{ end }}
