{{ define "content" }}
<section style="background-color: #5d64f5;">
    <div class="container py-5">
        <div class="card" style="position: relative; align-content: flex-center; width: 18rem;">
            <div class="card-body">
                <h5 class="card-text">Name: {{ .User.Name.First }} {{ .User.Name.Last }}</h5>
                <h5 class="card-text">Role: {{ .Role }} </h5>
                <h5 class="card-text">Date: {{ .Date }} </h5>
            </div>
        </div>
        <div class="row position-absolute top-0 end-0">
            <div class="col-lg-6">
                <button type="button" class="btn btn-lrg me-1 mt-4 btn-info position: relative" data-bs-toggle="modal" data-bs-target="#UserSettings"
                        style="background-color: white; color: #4581ef;">
                    User Settings
                </button>
            </button>
            </div>
            <div class="col">
                <button type="button" class="btn me-4 mt-4 btn-info position: relative logout-btn"
                        style="background-color:white; color:#4581ef;">
                    <a href="/logout" style="text-decoration: none;">Logout</a>
                </button>
            </div>
        </div>
        <div class="card mt-4 position-absolute top-0 start-50 translate-middle-x">
            <div class="card-body">
            <h2 class="card-title">Standardized Patient Calendar</h2>
            </div>
        </div>
        {{ template "session-content" . }}
    </div>
</div>

<div class="modal" id="UserSettings">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
    
          <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">User Settings</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
          <!-- Modal body -->
            <div class="modal-body">
                <div class="vstack">
                    <button type="button" class="btn btn-primary mb-2">
                        Change Password
                    </button> 
                    <button type="button" class="btn btn-primary mb-2">
                        Change Email
                    </button>  
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
                    Close
                </button>
            </div>

          
        </div>
    </div>
</div>

{{ end }}
