{{ define "content" }}
<section style="background-color: #5d64f5;">
    <div class="container-fluid">
        <div class="vstack gap-2 d-flex align-items-center position relative mb-4">
            <div class="card mt-4 position relative">
                <div class="card-body">
                <h2 class="card-title">Standardized Patient Calendar</h2>
                </div>
            </div>
            <div class="card position relative mt-2 mb-2">
                <div class="card-body">
                    <div class="row row-cols-auto">
                        <div class="col"><h5 class="card-text">Name: {{ .User.Name.First }} {{ .User.Name.Last }}</h5></div>
                        <div class="col"><h5 class="card-text">Role: {{ .Role }} </h5></div>
                        <div class="col"><h5 class="card-text">Date: {{ .Date }}</h5></div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-auto mt-1 mb-1">
                <div class="col">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                          SP Options
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" data-bs-toggle="offcanvas" data-bs-target="#AssignedSessionRecords">Session Records</a></li>
                          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#UserSettings">User Settings</a></li>
                          <li><a class="dropdown-item" href="/logout" style="text-decoration: none;">Logout</a></li>
                        </ul>
                      </div>
                </div>
                <div class="col">
                    <span class="badge d-inline-flex align-items-center justify-content-start" style="font-size: 1.0rem; height: 2.3rem; background-color: white; color: #4581ef;">
                        Sessions Selected: {{ .SelectedDate }}
                    </span>
                </div>
            <div class="col">
                <form action="/dashboard" class="position relative" method="post" enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="username" value="{{ .User.Username }}">
                {{ if .ByDate }}
                <select name="orderBy" class="form-select" aria-label="Order Sessions" onchange="this.form.submit();" onfocus="this.selectedIndex = -1;">
                    <option disabled>Order Sessions</option>
                    <option selected disabled value="byDate">Order By Date</option>
                    <option value="byLocation">Order By Location</option>
                </select>
                {{ else if .ByLocation }}
                <select name="orderBy" class="form-select" aria-label="Order Sessions" onchange="this.form.submit();" onfocus="this.selectedIndex = -1;">
                    <option disabled>Order Sessions</option>
                    <option value="byDate">Order By Date</option>
                    <option selected disabled value="byLocation">Order By Location</option>
                </select>
                {{ else }}
                <select name="orderBy" class="form-select" aria-label="Order Sessions" onchange="this.form.submit();" onfocus="this.selectedIndex = -1;">
                    <option selected disabled>Order Sessions</option>
                    <option value="byDate">Order By Date</option>
                    <option value="byLocation">Order By Location</option>
                </select>
                {{ end }}
                </form>
            </div>
            </div>
            
            {{ template "session-content" . }}
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" id="AssignedSessionRecords" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" aria-labelledby="AssignedSessionRecords">
    <div class="offcanvas-header" style="background-color: #cef3f3;">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Session Records</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" style="background-color: #f8f9f9;">
        <div class="vstack gap-2">
        <form action="/dashboard" class="mt-2 position relative" method="post" enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="date" value="currentMonth">
                <button type="submit" class="btn btn-outline-primary" data-bs-dismiss="offcanvas">
                    {{ with $currentMonth := GetCurrentMonth }}
                    <h5>Current Sessions : {{ $currentMonth }}</h5>
                    {{ end }}
                </button>
        </form>
        <form action="/dashboard" class="mt-2 position relative" method="post" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="date" value="futureMonth">
            <button type="submit" class="btn btn-outline-primary" data-bs-dismiss="offcanvas">
                {{ with $nextMonth := GetNextMonth }}
                <h5>Future Sessions : {{ $nextMonth }}</h5>
                {{ end }}
            </button>
        </form>
        <br/>
        <br/>
        <span class="badge bg-success" style="font-size: 0.9rem">Sessions Assigned</span>
        {{ range .Archives }}
            <form action="/dashboard" class="mt-2 position relative" method="post" enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="date" value="{{ . }}assigned">
                <button type="submit" class="btn btn-outline-primary" data-bs-dismiss="offcanvas">
                    <h5>{{ . }}</h5>
                </button>
            </form>
        {{ end }}
        {{ if .User.SessionsAssigned }}
        <form action="/dashboard" class="mt-2 position relative" method="post" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="date" value="allsessions">
            <button type="submit" class="btn btn-outline-primary" data-bs-dismiss="offcanvas">
                <h5>All Assigned Records</h5>
            </button>
        </form>
        {{ end }}
        </div>
    </div>
</div>

{{ if .User.SessionsSorted }}
{{ range .User.SessionsSorted }}
<div class="offcanvas offcanvas-end" id="{{ .Title | formatTitle }}{{ .Date | formatTitle }}{{ .StartTime | formatTitle }}{{ .EndTime | formatTitle }}{{ .Location | formatTitle }}comment" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" aria-labelledby="{{ .Title | formatTitle }}{{ .Date | formatTitle }}{{ .StartTime | formatTitle }}{{ .EndTime | formatTitle }}{{ .Location | formatTitle }}comment">
    <div class="offcanvas-header">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <h5>Session Information</h5>
        <h5>-----------------------</h5>
        <h5>Date : {{ .Date }}</h5>
        <h5>Title : {{ .Title }}</h5>
        <h5>Start Time : {{ .StartTime }}</h5>
        <h5>End Time : {{ .EndTime }}</h5>
        <h5>Location : {{ .Location }}</h5>
        <h5>Description : </h5>
        <p>&emsp;{{ .Description }}</p>
        <h5>------------------------</h5>
        {{ with $currentComment := GetComment $.User . }}
        <h6>Current Comment: </h6>
        <div class="card-text badge badge-pill text-wrap" style="font-size: 14px; background-color: rgb(158, 246, 252); color: rgb(18, 17, 17); width: 23rem; min-height: 5rem"><p class="text-break">{{ $currentComment }}</p></div></h5>
        {{ end }}
        <br/>
        <br/>
        <form action="/addcomment" method="post" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="Title" value="{{ .Title }}">
            <input type="hidden" name="Date" value="{{ .Date }}">
            <input type="hidden" name="StartTime" value="{{ .StartTime }}">
            <input type="hidden" name="EndTime" value="{{ .EndTime }}">
            <input type="hidden" name="Location" value="{{ .Location }}">
            <input type="hidden" name="Description" value="{{ .Description }}">
            <div class="form-floating mb-2">
            <textarea name="newcomment" style="height: 8rem;" class="form-control"></textarea>
            <label for="floatingInput">Comment</label>
            </div>
            <button type="submit" class="btn btn-outline-success" data-bs-dismiss="modal">Submit</button>
        </form>
    </div>
</div>
{{ end }}
{{ end }}



{{ template "user-settings" . }}

{{ end }}
