{{ define "content" }}
<section>
    <div class="container-fluid">
        <div id="header" class="vstack gap-2 align-items-center position relative">
            <div class="card mt-4 ms-4 position: relative">
                <div class="card-body">
                <h2 class="card-title">Session Scheduler</h2>
                </div>
            </div>
            <div class="card position justify-content-center ms-4">
                <div class="card-body">
                    <div class="row row-cols-auto">
                        <div class="col"><h5 class="card-text">Name: {{ .User.Name.First }} {{ .User.Name.Last }}</h5></div>
                        <div class="col"><h5 class="card-text">Role: {{ .Role }} </h5></div>
                        <div class="col"><h5 class="card-text">Date: {{ .Date }}</h5></div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-auto position relative mb-2">
                <div class="col">
                    <button type="button" class="btn btn-info position relative mt-1 ms-4" data-bs-toggle="modal" data-bs-target="#createSessionModal">
                        Create Session
                    </button>
                </div>
                <div class="col">
                    <div class="btn-group mt-1">
                        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                          Manager Options
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ManageSPs">Manage SPs</a></li>
                          <li><a class="dropdown-item" data-bs-toggle="offcanvas" data-bs-target="#SessionArchives" aria-controls="#SessionArchives">Session Archives</a></li>
                          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#UserSettings">User Settings</a></li>
                          <li><a class="dropdown-item" href="/logout" style="text-decoration: none;">Logout</a></li>
                        </ul>
                      </div>
                </div>
                <div class="col">
                    <div class="btn-group mt-1">
                        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                          Quick Assign Options
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#SelectedToAssigned">Assign All Selected SPs</a></li>
                          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ConfirmSPs">Confirm All Assigned SPs</a></li>
                        </ul>
                      </div>
                </div>
            </div>
            <div class="row row-cols-auto justify-content-center">
                <div class="col ms-4">
                    <span class="mt-1 badge d-inline-flex align-items-center justify-content-start" style="font-size: 1.0rem; height: 2.3rem; background-color: white; color: #4581ef;">
                        Sessions Selected: {{ .SelectedDate }}&nbsp; | &nbsp; Total Sessions: {{ .User.SessionsUnmanaged | len }}
                    </span>
                </div>
                <div class="col">
                    <form action="/dashboard" class="mt-1 position relative" method="post" enctype="application/x-www-form-urlencoded">
                    <input type="hidden" name="username" value="{{ .User.Username }}">
                    {{ if .ByDate }}
                    <select name="orderBy" class="form-select" aria-label="Order Sessions" onchange="this.form.submit();" onfocus="this.selectedIndex = -1;">
                        <option disabled>Order Sessions</option>
                        <option selected disabled value="byDate">Order By Date</option>
                        <option value="byLocation">Order By Location</option>
                    </select>
                    {{ else if .ByLocation }}
                    <select name="orderBy" class="form-select" aria-label="Order Sessions" onchange="this.form.submit();" onfocus="this.selectedIndex = -1;">
                        <option disabled>Order Sessions</option>
                        <option value="byDate">Order By Date</option>
                        <option selected disabled value="byLocation">Order By Location</option>
                    </select>
                    {{ else }}
                    <select name="orderBy" class="form-select" aria-label="Order Sessions" onchange="this.form.submit();" onfocus="this.selectedIndex = -1;">
                        <option selected disabled>Order Sessions</option>
                        <option value="byDate">Order By Date</option>
                        <option value="byLocation">Order By Location</option>
                    </select>
                    {{ end }}
                    </form>
                </div>
            </div>
            <ul class="listgroup mb-2 mt-2 justify-content-center">
            {{ template "session-content" .User }}
            </ul>
            {{ if .User.SessionsUnmanaged }}
            <button type="button" class="btn btn-primary mb-4 mt-2 position: relative"
            style="background-color:white; color:#4581ef;">
                <a href="/dashboard" style="text-decoration: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.854 1.146a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L4 2.707V12.5A2.5 2.5 0 0 0 6.5 15h8a.5.5 0 0 0 0-1h-8A1.5 1.5 0 0 1 5 12.5V2.707l3.146 3.147a.5.5 0 1 0 .708-.708l-4-4z"/>
                    </svg>
                    Return to Top
                </a>
            </button>
            {{ end }}
        </div>
    </div>
</div>

{{ if .User.SessionsUnmanaged }}
{{ range .User.SessionsUnmanaged }}
    <div class="offcanvas offcanvas-end" id="{{ .Information.Title | formatTitle }}{{ .Information.Date | formatTitle }}{{ .Information.StartTime | formatTitle }}{{ .Information.EndTime | formatTitle }}{{ .Information.Location | formatTitle }}info" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" aria-labelledby="{{ .Information.Title | formatTitle }}{{ .Information.Date | formatTitle }}{{ .Information.StartTime | formatTitle }}{{ .Information.EndTime | formatTitle }}{{ .Information.Location | formatTitle }}info">
        <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Session Information</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <h5>Date : {{ .Information.Date }}</h5>
            <h5>Title : {{ .Information.Title }}</h5>
            <h5>Start Time : {{ .Information.StartTime }}</h5>
            <h5>End Time : {{ .Information.EndTime }}</h5>
            <h5>Location : {{ .Information.Location }}</h5>
            <h5>Description : </h5>
            <p>&emsp;{{ .Information.Description }}</p>
            {{ if .Information.ExpiredDate }}
            <h5>Sign Up Expires : {{ .Information.ExpiredDate }}</h5>
            {{ else }}
            <h5>Sign Up Expires : None</h5>
            {{ end }}
            <h5>SPs Available | <span class="badge bg-primary">{{ .PatientsAvailable | len }}</span></h5>
            {{ if .PatientsAvailable }}
            {{ range .PatientsAvailable }}
                <p>&emsp;{{ .Name.First }} {{ .Name.Last }}</p>
            {{ end }}
            {{ else }}
                <p>&emsp;None</p>
            {{ end }}
            <h5>SPs Selected | <span class="badge bg-warning">{{ .PatientsSelected | len }}</span></h5>
            {{ if .PatientsSelected }}
            {{ range .PatientsSelected }}
                <p>&emsp;{{ .Name.First }} {{ .Name.Last }}</p>
            {{ end }}
            {{ else }}
                <p>&emsp;None</p>
            {{ end }}
            <h5>SPs Assigned | <span class="badge bg-success">{{ .PatientsAssigned | len }}</span></h5>
            {{ if .PatientsAssigned }}
            {{ range .PatientsAssigned }}
                <p>&emsp;{{ .Name.First }} {{ .Name.Last }}</p>
            {{ end }}
            {{ else }}
                <p>&emsp;None</p>
            {{ end }}
            <h5>SPs Needed | <span class="badge bg-danger">{{ .PatientsNeeded }}</span></h5>
        </div>
    </div>
    <div class="offcanvas offcanvas-end" id="{{ .Information.Title | formatTitle }}{{ .Information.Date | formatTitle }}{{ .Information.StartTime | formatTitle }}{{ .Information.EndTime | formatTitle }}{{ .Information.Location | formatTitle }}edit" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" aria-labelledby="{{ .Information.Title | formatTitle }}{{ .Information.Date | formatTitle }}{{ .Information.StartTime | formatTitle }}{{ .Information.EndTime | formatTitle }}{{ .Information.Location | formatTitle }}edit">
        <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Edit Information for<br/>{{ .Information.Title }}</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form action="/updatesession" method="post" enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="title" value="{{ .Information.Title }}">
                <input type="hidden" name="date" value="{{ .Information.Date }}">
                <input type="hidden" name="starttime" value="{{ .Information.StartTime }}">
                <input type="hidden" name="endtime" value="{{ .Information.EndTime }}">
                <input type="hidden" name="location" value="{{ .Information.Location }}">
                <input type="hidden" name="description" value="{{ .Information.Description }}">

            <div class="form-floating mb-2">
                <input type="text" name="newtitle" class="form-control" value="{{ .Information.Title }}">
                <label for="floatingInput">Title</label>
            </div>
            <div class="form-floating mb-2">
                <input type="text" name="newdate" class="form-control" value="{{ .Information.Date }}">
                <label for="floatingInput">Date</label>
            </div>
            <div class="form-floating mb-2">
                <input type="text" name="newstarttime" class="form-control" value="{{ .Information.StartTime }}">
                <label for="floatingInput">Start Time</label>
            </div>
            <div class="form-floating mb-2">
                <input type="text" name="newendtime" class="form-control" value="{{ .Information.EndTime }}">
                <label for="floatingInput">End Time</label>
            </div>
            <div class="form-floating mb-2">
                <input type="text" name="newlocation" class="form-control" value="{{ .Information.Location }}">
                <label for="floatingInput">Location</label>
            </div>
            <div class="form-floating mb-2">
                <input type="text" name="newpatientsneeded" class="form-control" value="{{ .PatientsNeeded }}">
                <label for="floatingInput">SPs Needed : {{ .PatientsNeeded }}</label>
            </div>
            <div class="form-floating mb-2">
                <textarea name="newdescription" style="height: 12rem;" class="form-control">{{ .Information.Description }}</textarea>
                <label for="floatingInput">Description</label>
            </div>
            <button type="submit" class="btn btn-outline-success" data-bs-dismiss="modal">Update</button>
            </form>
        </div>
    </div>
    <div class="modal" id="{{ .Information.Title | formatTitle }}{{ .Information.Date | formatTitle }}{{ .Information.StartTime | formatTitle }}{{ .Information.EndTime | formatTitle }}{{ .Information.Location | formatTitle }}delete">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
        
              <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Confirm Deletion of Session</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
        
              <!-- Modal body -->
                <div class="modal-body">
                    <form action="/deletesession" method="post" enctype="application/x-www-form-urlencoded">
                        <input type="hidden" name="title" value="{{ .Information.Title }}">
                        <input type="hidden" name="date" value="{{ .Information.Date }}">
                        <input type="hidden" name="starttime" value="{{ .Information.StartTime }}">
                        <input type="hidden" name="endtime" value="{{ .Information.EndTime }}">
                        <input type="hidden" name="location" value="{{ .Information.Location }}">
                        <input type="hidden" name="description" value="{{ .Information.Description }}">
                        <button type="submit" class="btn btn-outline-danger" data-bs-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
                    </form>
                </div>
              
            </div>
        </div>
    </div>
    <div class="offcanvas offcanvas-end" id="{{ .Information.Title | formatTitle }}{{ .Information.Date | formatTitle }}{{ .Information.StartTime | formatTitle }}{{ .Information.EndTime | formatTitle }}{{ .Information.Location | formatTitle }}assignsp" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" aria-labelledby="{{ .Information.Title | formatTitle }}{{ .Information.Date | formatTitle }}{{ .Information.StartTime | formatTitle }}{{ .Information.EndTime | formatTitle }}{{ .Information.Location | formatTitle }}assignsp">
        <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Assign SPs to <br>{{ .Information.Title }}<br>{{ .Information.Date }}<br>{{ .Information.StartTime }} - {{ .Information.EndTime }}</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form action="/assignsp" method="post" enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="title" value="{{ .Information.Title }}">
                <input type="hidden" name="date" value="{{ .Information.Date }}">
                <input type="hidden" name="starttime" value="{{ .Information.StartTime }}">
                <input type="hidden" name="endtime" value="{{ .Information.EndTime }}">
                <input type="hidden" name="location" value="{{ .Information.Location }}">
                <input type="hidden" name="description" value="{{ .Information.Description }}">
                <h6>Available SPs | <span class="badge bg-primary">{{ .PatientsAvailable | len }}</span></h5></h6>
                {{ if .PatientsAvailable }}
                <span class="badge bg-primary" style="font-size: 0.7rem">add to selected</span>
                {{ range .PatientsAvailable }}
                <div class="form-check">
                    <label class="mt-1">
                        <input type="checkbox" name="{{ .Username }}" value="savedselected" class="form-check-input mt-1" autocomplete="off">
                        {{ .Name.First }} {{ .Name.Last }}
                    </label>
                </div> 
                {{ end }}
                {{ else }}
                    <h6>None</h6>
                {{ end }}
                <br>
                <h6>Selected SPs | <span class="badge bg-warning">{{ .PatientsSelected | len }}</span></h5></h6>
                {{ if .PatientsSelected }}
                <span class="badge bg-success" style="font-size: 0.7rem">add to assigned</span>
                {{ range .PatientsSelected }}
                <div class="form-check">
                    <label>
                        {{ if .Username | CheckForSessionConflict }}
                        <input type="checkbox" name="{{ .Username }}" value="savedassigned" class="form-check-input" autocomplete="off" disabled>
                        {{ .Name.First }} {{ .Name.Last }} &emsp; <span class="badge bg-danger" style="font-size: 0.7rem">session conflict found</span>
                        {{ else }}
                        <input type="checkbox" name="{{ .Username }}" value="savedassigned" class="form-check-input" autocomplete="off">
                        {{ .Name.First }} {{ .Name.Last }}
                        {{ end }} 
                    </label>
                </div>
                {{ end }}
                <span class="badge bg-danger" style="font-size: 0.7rem">remove to available</span>
                {{ range .PatientsSelected }}
                <div class="form-check">
                    <label>
                        <input type="checkbox" name="{{ .Username }}" value="removeselected" class="form-check-input" autocomplete="off">
                        {{ .Name.First }} {{ .Name.Last }}
                    </label>
                </div> 
                {{ end }}
                {{ else }}
                    <h6>None</h6>
                {{ end }}
                <br>
                <h6>Assigned SPs | <span class="badge bg-success">{{ .PatientsAssigned | len }}</span></h5></h6>
                {{ if .PatientsAssigned }}
                <span class="badge bg-danger" style="font-size: 0.7rem">remove to available</span>
                {{ range .PatientsAssigned }}
                <div class="form-check">
                    <label>
                        <input type="checkbox" name="{{ .Username }}" value="removeassigned" class="form-check-input" autocomplete="off">
                        {{ .Name.First }} {{ .Name.Last }}
                    </label>
                </div> 
                {{ end }}
                {{ else }}
                    <h6>None</h6>
                {{ end }}
                <div class="container mt-4">
                <button type="submit" formaction="/assignsp" class="btn btn-outline-success" data-bs-dismiss="modal">Submit</button>
                </div>
            </form>
        </div>
    </div>
{{ end }}
{{ end }}

<div class="modal" id="UserSettings">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
    
          <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">User Settings</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
          <!-- Modal body -->
            <div class="modal-body">
                <div class="vstack">
                    <button type="button" class="btn btn-primary mb-2" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#ChangePassword">
                        Change Password
                    </button> 
                    <button type="button" class="btn btn-primary mb-2" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#ChangeEmail">
                        Change Email
                    </button>  
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
            </div>

          
        </div>
    </div>
</div>
<div class="modal fade" id="ChangePassword">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
    
          <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
          <!-- Modal body -->
            <div class="modal-body">
                <form action="/changepassword" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="form-floating mb-2">
                        <input type="password" class="form-control" name="newpassword" id="password2" placeholder="Password">
                        <label for="floatingInput">Enter New Password</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="password" class="form-control" name="newpasswordconfirmed" id="password3" placeholder="Password">
                        <label for="floatingInput">Enter New Password Again</label>
                        <button class="btn input-group-text" type="button" id="show-password-btn-3">
                          <i class="fa fa-eye-slash"></i>
                        </button>
                    </div>
                    <script>
                        var passwordInput2 = document.getElementById('password2');
                        var passwordInput3 = document.getElementById('password3');
                        var showPasswordBtn = document.getElementById('show-password-btn-3');
                        
                        showPasswordBtn.addEventListener('click', function() {
                          if (passwordInput2.type === 'password') {
                            passwordInput2.type = 'text';
                            passwordInput3.type = 'text';
                            showPasswordBtn.innerHTML = '<i class="fa fa-eye"></i>';
                          } else {
                            passwordInput2.type = 'password';
                            passwordInput3.type = 'password';
                            showPasswordBtn.innerHTML = '<i class="fa fa-eye-slash"></i>';
                          }
                        });
                    </script>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-success" data-bs-dismiss="modal">
                            Submit
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ChangeEmail">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
    
          <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Change Email</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
          <!-- Modal body -->
            <div class="modal-body">
                <h6>Current Email Address:&emsp;{{ .User.Email }}</h6>
                <form action="/changeemail" method="post" enctype="application/x-www-form-urlencoded">
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" name="newemail">
                    <label for="floatingInput">Enter New Email</label>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success" data-bs-dismiss="modal">
                        Submit
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
                </form>
            </div>

          
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="createSessionModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Create Session</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <form action="/createsession" method="post" enctype="application/x-www-form-urlencoded">
                <div class="form-floating mb-2">
                    <input type="text" name="title" class="form-control" value="Nurse Practice Session">
                    <label for="floatingInput">Title</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" name="date" class="form-control" value="04/23/2028">
                    <label for="floatingInput">Date</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" name="starttime" class="form-control" value="11:00AM">
                    <label for="floatingInput">Start Time</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" name="endtime" class="form-control" value="2:00PM">
                    <label for="floatingInput">End Time</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" name="location" class="form-control" value="Bethlehem">
                    <label for="floatingInput">Location</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" name="patientsneeded" class="form-control" value="3">
                    <label for="floatingInput">SPs Needed</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" name="description" class="form-control" value="Nurse Orientation">
                    <label for="floatingInput">Description</label>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success" data-bs-dismiss="modal">Create</button>
                </div>
            </form>
        </div>
  
      </div>
    </div>
  </div>

<div class="modal fade" id="ManageSPs">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
    
          <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Manage Standardized Patient Records</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
          <!-- Modal body -->
            <div class="modal-body">
                <div class="vstack">
                    <button type="button" class="btn btn-success mb-2" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#CreateSPRecord">
                        Create Record
                    </button> 
                    <button type="button" class="btn btn-primary mb-2" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#RetrieveSPRecord">
                        Retrieve Record
                    </button> 
                    <button type="button" class="btn btn-danger mb-2" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#DeleteSPRecord">
                        Delete Record
                    </button>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ConfirmSPs">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
    
          <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Confirm SPs Assignments</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
          <!-- Modal body -->
            <div class="modal-body">
                {{ if .SelectedDate | CheckForAllSessionsInput }}
                <div class="d-flex gap-2 justify-content-center">
                <h1><span class="badge bg-danger">Error!</span></h1>
                </div>
                <br/>
                <h5>"All Sessions" option selected!</h5>
                <br/>
                <h5>Select a month from the session archives to activate!</h5>
                {{ else }}
                <h5>Confirm All Standardized Patients for</h5>
                <h5>Month Selected : {{ .SelectedDate }}</h5>
                <br>
                <div class="d-flex gap-2 justify-content-center">
                    <form action="/confirmAllSPs" method="post" enctype="application/x-www-form-urlencoded">
                        <input type="hidden" name="selectedmonth" value="{{ .SelectedDate }}">
                        <button type="submit" class="btn btn-success mb-2" data-bs-dismiss="modal">
                            Yes Confirm!
                        </button> 
                        <button type="button" class="btn btn-danger mb-2" data-bs-dismiss="modal">
                            No Do Not!
                        </button>
                    </form>
                </div>
                {{ end }}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SelectedToAssigned">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
    
          <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Assign All Selected SPs</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
          <!-- Modal body -->
            <div class="modal-body">
                {{ if .SelectedDate | CheckForAllSessionsInput }}
                <div class="d-flex gap-2 justify-content-center">
                <h1><span class="badge bg-danger">Error!</span></h1>
                </div>
                <br/>
                <h5>"All Sessions" option selected!</h5>
                <br/>
                <h5>Select a month from the session archives to activate!</h5>
                {{ else }}
                <h5>Assign All Selected Standardized Patients
                </h5>
                <h5>Month Selected : {{ .SelectedDate }}</h5>
                <br>
                <div class="d-flex gap-2 justify-content-center">
                    <form action="/selectedToAssigned" method="post" enctype="application/x-www-form-urlencoded">
                        <input type="hidden" name="selectedmonth" value="{{ .SelectedDate }}">
                        <button type="submit" class="btn btn-success mb-2" data-bs-dismiss="modal">
                            Yes Confirm!
                        </button> 
                        <button type="button" class="btn btn-danger mb-2" data-bs-dismiss="modal">
                            No Cancel!
                        </button>
                    </form>
                </div>
                {{ end }}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="CreateSPRecord">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
    
          <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Create Standardized Patient Record</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
          <!-- Modal body -->
            <div class="modal-body">
                <form action="/createSPRecord" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="form-floating mb-2">
                        <input type="text" name="name" class="form-control" value="Lizzy Thompson">
                        <label for="floatingInput">Name</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" name="email" class="form-control" value="lizzy.thompson@gmail.com">
                        <label for="floatingInput">Email</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" name="password" class="form-control" value="lxpt766!@*">
                        <label for="floatingInput">Password</label>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-success" data-bs-dismiss="modal">Create</button>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#ManageSPs" data-bs-toggle="modal" data-bs-dismiss="modal">Back</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="RetrieveSPRecord">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
    
          <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Standardized Patient Information</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
          <!-- Modal body -->
            <div class="modal-body">
                    {{ if .User.AssignedPatients }}
                    <div class="vstack gap-2 d-flex align-items-left position: relative;">
                        {{ with $AssignedPatients := .User.AssignedPatients | sortSpUserByLastName }}
                        {{ range $AssignedPatients }}
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{ .Username | formatTitle }}Info">
                                {{ .Name.First }} {{ .Name.Last }}
                            </button>
                        {{ end }}
                        {{ end }}
                    </div>
                    {{ end }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#ManageSPs" data-bs-toggle="modal" data-bs-dismiss="modal">Back</button>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" id="SessionArchives" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" aria-labelledby="SessionArchives">
    <div class="offcanvas-header" style="background-color: #cef3f3;">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Session Archives</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" style="background-color: #f8f9f9;">
        <div class="vstack gap-2">
        <form action="/dashboard" class="mt-2 position relative" method="post" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="date" value="allsessions">
            <button type="submit" class="btn btn-outline-primary" data-bs-dismiss="offcanvas">
                <h5>All Sessions</h5>
            </button>
        </form>
        {{ range .Archives }}
            <form action="/dashboard" class="mt-2 position relative" method="post" enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="date" value="{{ . }}">
                <button type="submit" class="btn btn-outline-primary" data-bs-dismiss="offcanvas">
                    <h5>{{ . }}</h5>
                </button>
            </form>
        {{ end }}
        <button type="button" class="btn btn-outline-info position-absolute ms-3 bottom-0 start-0 translate-middle-y">
            <a href="/json" target="_blank" style="text-decoration: none;">All Data</a>
        </button>
        <button type="button" class="btn btn-outline-danger position-absolute me-4 bottom-0 end-0 translate-middle-y" data-bs-toggle="modal" data-bs-target="#RestoreBackUp">
                    Restore Data From Backup File
        </button>
        </div>
    </div>
</div>

<div class="modal fade" id="RestoreBackUp">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
    
          <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Restore Sessions from Backup File</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
          <!-- Modal body -->
            <div class="modal-body">
                <form action="/sessionbackup" method="post" enctype="multipart/form-data">
                <label class="form-label" for="backupsession">Choose Back Up Session JSON File</label>
                <input type="file" class="form-control" id="backupsession" name="BackUpSessions"/>
                <button type="submit" class="btn btn-outline-success mt-4" data-bs-dismiss="offcanvas">
                    Upload
                </button> 
                </form>
            </div>

        </div>
    </div>
</div>

{{ if .User.AssignedPatients }}
    {{ range .User.AssignedPatients }}
        <div class="modal fade" id="{{ .Username | formatTitle }}Info">
            <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
                <div class="modal-content">
    
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Information on {{ .Name.First }} {{ .Name.Last }}</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
    
                    <!-- Modal body -->
                    <div class="modal-body">
                        <h6>Username: {{ .Username }}</h6>
                        <h6>Total Sessions Assigned : {{ .TotalSessionsAssigned }}</h6>
                        <h6>Email: {{ .Email }}</h6>
                        <h6>Sessions Available | {{ .SessionsAvailable | len }}:</h6>
                        {{ if .SessionsAvailable }}
                            {{ with $SessionsAvailable := .SessionsAvailable | sortSessionInfoByDate }}
                            {{ range $SessionsAvailable }}
                                {{ if .Date | notPastSession }}
                                <p>&emsp; {{ .Title }} {{ .Date }} {{ .StartTime }} {{ .EndTime }}</p>
                                {{ end }}
                            {{ end }}
                            {{ end }}
                        {{ else }}
                        <p>&emsp;None</p>
                        {{ end }}
                        <h6>Sessions Unavailable | {{ .SessionsUnavailable | len }}:</h6>
                        {{ if .SessionsUnavailable }}
                            {{ with $SessionsUnavailable := .SessionsUnavailable | sortSessionInfoByDate }}
                            {{ range $SessionsUnavailable }}
                                {{ if .Date | notPastSession }}
                                <p>&emsp; {{ .Title }} {{ .Date }} {{ .StartTime }} {{ .EndTime }}</p>
                                {{ end }}
                            {{ end }}
                            {{ end }}
                        {{ else }}
                        <p>&emsp;None</p>
                        {{ end }}
                        <h6>Sessions Selected | {{ .SessionsSelected | len }}:</h6>
                        {{ if .SessionsSelected }}
                            {{ with $SessionsSelected := .SessionsSelected | sortSessionInfoByDate }}
                            {{ range $SessionsSelected }}
                                {{ if .Date | notPastSession }}
                                <p>&emsp; {{ .Title }} {{ .Date }} {{ .StartTime }} {{ .EndTime }}</p>
                                {{ end }}
                            {{ end }}
                            {{ end }}
                        {{ else }}
                        <p>&emsp;None</p>
                        {{ end }} 
                        <h6>Sessions Assigned | {{ .SessionsAssigned | len }}:</h6>
                        {{ if .SessionsAssigned }}
                            {{ with $SessionsAssigned := .SessionsAssigned | sortSessionInfoByDate }}
                            {{ range $SessionsAssigned }}
                                {{ if .Date | notPastSession }}
                                <p>&emsp; {{ .Title }} {{ .Date }} {{ .StartTime }} {{ .EndTime }}</p>
                                {{ end }}
                            {{ end }}
                            {{ end }}
                        {{ else }}
                        <p>&emsp;None</p>
                        {{ end }} 
                        
                    </div>
                </div>
            </div>
        </div>
    {{ end }}
{{ end }}

<div class="modal fade" id="DeleteSPRecord">
    <div class="modal-dialog">
        <div class="modal-content">
    
          <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Delete Standardized Patient Record</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
          <!-- Modal body -->
            <div class="modal-body">
                {{ if .User.AssignedPatients }}
                <div class="vstack gap-2 d-flex align-items-left position: relative;">
                    {{ range .User.AssignedPatients }}
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#{{ .Name.First }}{{ .Name.Last }}delete">
                            {{ .Name.First }} {{ .Name.Last }}
                        </button>
                    {{ end }}
                </div>
                {{ end }}
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#ManageSPs" data-bs-toggle="modal" data-bs-dismiss="modal">Back</button>
            </div>
        </div>
    </div>
</div>

{{ if .User.AssignedPatients }}
    {{ range .User.AssignedPatients }}
<div class="modal" id="{{ .Name.First }}{{ .Name.Last }}delete">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
    
          <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Confirm Deletion of {{ .Name.First }} {{ .Name.Last }}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
          <!-- Modal body -->
            <div class="modal-body">
                <form action="/deleteSPRecord" method="post" enctype="application/x-www-form-urlencoded">
                    <input type="hidden" name="username" value="{{ .Username }}">
                    <button type="submit" class="btn btn-outline-danger" data-bs-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
                </form>
            </div>
          
        </div>
    </div>
</div>
    {{ end }}
{{ end }}

{{ end }}

