{{ define "user-settings" }}
<div class="modal" id="UserSettings">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
    
          <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">User Settings</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
          <!-- Modal body -->
            <div class="modal-body">
                <div class="vstack">
                    <button type="button" class="btn btn-primary mb-2" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#ChangePassword">
                        Change Password
                    </button> 
                   
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
            </div>

          
        </div>
    </div>
</div>
<div class="modal fade" id="ChangePassword">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
    
          <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
          <!-- Modal body -->
            <div class="modal-body">
                <form action="/changepassword" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="form-floating mb-2">
                        <input type="password" class="form-control" name="newpassword" id="password2" placeholder="New Password">
                        <label for="floatingInput">Enter New Password</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="password" class="form-control" name="newpasswordconfirmed" id="password3" placeholder="Confirm New Password">
                        <label for="floatingInput">Enter New Password Again</label>
                        <button class="btn input-group-text" type="button" id="show-password-btn-3">
                          <i class="fa fa-eye-slash"></i>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-success" data-bs-dismiss="modal">
                            Submit
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var passwordInput2 = document.getElementById('password2');
    var passwordInput3 = document.getElementById('password3');
    var showPasswordBtn = document.getElementById('show-password-btn-3');
    
    showPasswordBtn.addEventListener('click', function() {
      if (passwordInput2.type === 'password') {
        passwordInput2.type = 'text';
        passwordInput3.type = 'text';
        showPasswordBtn.innerHTML = '<i class="fa fa-eye"></i>';
      } else {
        passwordInput2.type = 'password';
        passwordInput3.type = 'password';
        showPasswordBtn.innerHTML = '<i class="fa fa-eye-slash"></i>';
      }
    });
</script>
{{ end }}