{{ define "user-settings" }}
<div class="modal" id="UserSettings">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
    
          <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">User Settings</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
          <!-- Modal body -->
            <div class="modal-body">
                <div class="vstack">
                    <button type="button" class="btn btn-primary mb-2" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#ChangePassword">
                        Change Password
                    </button> 
                    <button type="button" class="btn btn-primary mb-2" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#ChangeEmail">
                        Change Email
                    </button>  
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
            </div>

          
        </div>
    </div>
</div>
<div class="modal fade" id="ChangePassword">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
    
          <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
          <!-- Modal body -->
            <div class="modal-body">
                <form action="/changepassword" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="form-floating mb-2">
                        <input type="password" name="newpassword" class="form-control" value="">
                        <label for="floatingInput">New Password</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="password" name="newpasswordconfirmed" class="form-control" value="">
                        <label for="floatingInput">Confirm New Password</label>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-success" data-bs-dismiss="modal">
                            Submit
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ChangeEmail">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
    
          <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Change Email</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
          <!-- Modal body -->
            <div class="modal-body">
                <h6>Current Email Address:&emsp;{{ .User.Email }}</h6>
                <form action="/changeemail" method="post" enctype="application/x-www-form-urlencoded">
                <div class="form-floating mb-2">
                    <input type="text" name="newpassword" class="form-control" value="">
                    <label for="floatingInput">New Email</label>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success" data-bs-dismiss="modal">
                        Submit
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
                </form>
            </div>

          
        </div>
    </div>
</div>
{{ end }}